* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.FirstSectionContainer{
    width: 100%;
    height: 100vh;
    display: flex;
}
.Text-LeftSide-FirstSection{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 50%;
    justify-content: flex-end;
    align-items: center;
}
.Fotot-RightSide-FirstSection{
      display: flex;
    flex-direction: column;
    width: 45%;
    height: 70%;
    justify-content: flex-end;
    align-items: center;
}





.ThirdSection{
    position: relative;

}

.FourthSection {
    width: 100%;
    height: 60hv;
    background-color: whitesmoke;
    border: 1px solid black;

}

.FourthSection ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.FourthSection ul li {
    margin: 3% 3% 4% 0%;
    font-size: 34px;
    list-style: none;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .FirstSectionContainer{
        flex-direction: column;
    }
    .FourthSection{
        flex-direction: column;
    }
}

