
dotnetwebApp/Broker/.vs/
dotnetwebApp/Broker/bin/
dotnetwebApp/Broker/obj/
dotnetwebApp/Broker/[mM]igrations/




dotnetwebApp/Broker/obj/Debug/netcoreapp3.1/apphost.exe
dotnetwebApp/Broker/Broker.csproj
