@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.posts-container {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
}

.post {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 13px 15px 16px 5px rgba(211,216,232,0.3);
    -moz-box-shadow: 13px 15px 16px 5px rgba(211,216,232,0.3);
    box-shadow: 13px 15px 16px 5px rgba(211,216,232,0.3);
    align-items: center;
    padding: 5%;
}

    .post:hover {
        transition: 3s step-start;
        -webkit-box-shadow: inset 13px 165px 211px 188px rgba(211,216,232,1);
        -moz-box-shadow: inset 13px 165px 211px 188px rgba(211,216,232,1);
        box-shadow: inset 13px 165px 211px 188px rgba(211,216,232,1);
    }

    .post img {
        width: 350px;
    }

    .post h3 {
        color: darkblue;
        margin: 2%;
    }

    .post p {
        color: orangered;
        font-size: 12px;
    }

#discountPrice {
    text-decoration: line-through;
}

.post a {
    text-decoration: none;
    font-size: 14px;
    color: darkolivegreen;
}

        .post a:hover {
            color: darkgreen;
        }

.icons {
    margin-left: 18px;
}
