
@model List<Post>;
@{
    ViewData["Title"] = "Archived Posts";
}

<link href="@Url.Content("~/css/UserPostPage.css")" rel="stylesheet" type="text/css" />
<div class="container">
    <div id="products-container" class="products-container">
        @foreach (var post in @Model)
        {
          
                int index = @Model.IndexOf(post) + 1;
                <div class="product" data-name="p-@index">

                    <img src="~/Assets/Images/grid1.jpg" alt="">
                    <h3>@post.Title</h3>
                    <div class="price">$110,000</div>
                    <a href="~/Archive/Unarchive/@post.PostId" class="btn btn-primary">Unarchive</a>

                </div>
            

        }
        </div>
</div>

<script src="@Url.Content("~/js/UserPostPage.js")"></script>