@using Broker.ViewModels
@using Broker.Models
@model UserViewModel;


<link href="@Url.Content("~/css/ContactUser.css")" rel="stylesheet" type="text/css" />



<div class="container">
	<h3>Post created by: @Model.Users.Name @Model.Users.LastName</h3>
	<form method="get" class="contactUser-form">
		<label>Message owner</label>
		<textarea placeholder="Type your message"></textarea>
		<button type="submit">Send Message</button>
	</form>
</div>

