@{
    ViewData["Title"] = "PostPageCreate";
}
@section Styles
{
<style type="text/css">
    .wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-preview {
        width: 45%;
        height: 90vh;
    }

    .div-text {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5885AF;
        width: 45%;
        border-radius: 5%;
        color: white;
    }

    .flex {
        display: flex;
    }

    .btn-primary {
        margin: 20px 40px;
    }

    

    #inner-posts {
        border: 1px solid black;
    }

        #inner-posts h1 {
            font-size: 20px;
            padding: 2% 2%;
        }

        #inner-posts p {
            font-size: 15px;
            padding: 2% 2%;
        }

</style>
}


<section>
    <div class="wrapper">
        <div class="row col-md-8 col-md-offset-2 div-text">
            <h1>Create post</h1>

            <form method="post" enctype="multipart/form-data" asp-controller="Post" asp-action="PostPageCreate" id="myForm">
                <input name='ownerId' value='2' hidden />
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text"
                           name="title"
                           class="form-control together"
                           id="exampleInputEmail1"
                           aria-describedby="emailHelp"
                           placeholder="Enter title" /><br />
                    <small id="emailHelp" class="form-text text-muted">Please fill your title.</small>
                </div>

                <div class="custom-file">
                    <input type="file"
                           name="image"
                           multiple
                           class="custom-file-input together"
                           id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01" />
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
                <br />
                <div class="input-group">
                    <textarea class="form-control together"
                              name="description"
                              aria-label="With textarea"
                              id="description"
                              placeholder="description"></textarea>
                </div>
                <br />
                <select class="form-select" aria-label="Default select example">
                    <option selected>Categories</option>
                    <option value="1">House</option>
                    <option value="2">Apartment</option>
                    <option value="3">Office</option>
                </select>
                <br />
                <div class="input-group together">
                    <input type="text"
                            name="price"
                           class="form-control"
                           id="price"
                           aria-label="Dollar amount (with dot and two decimal places)" />
                    <div class="input-group-append flex">
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                    </div>
                </div>
                <br />
                <input type="submit" class="btn btn-primary" value="Submit" />
            </form>
        </div>
        <div class="second-div" id="post-preview">
            <!-- <h1>Post Preview</h1>
                <div id="inner-posts">
                    <img src="../imgs/" alt="">
                    <h1 class=""></h1>
                    <p></p>
                </div> -->
        </div>
    </div>
</section>
@*@section Scripts{
<script>
            var data=[];
            let title = document.getElementById('exampleInputEmail1');
            let file = document.getElementById('inputGroupFile01');
            let description = document.getElementById('description');
            var body = document.getElementById("post-preview");
            let price= document.getElementById("price")

            function postPreview(e){
                e.preventDefault();
                var text=`
                <h1>Post Preview</h1>
                 <div id="inner-posts">
                    <h1>${title.value}</h1>
                <p>${description.value}</p>
                <p>${price.value}</p>
            </div>`;
                body.innerHTML +=text;
}

document.getElementById("myForm").addEventListener("submit",e => postPreview(e));
</script>*@
}


