@using Broker.Data

@inject UserManager<User> UserManager;

@if(!User.Identity.IsAuthenticated ){
    <ul class="nav-list" id="list1">
    <li id="Login"><a asp-controller="Account" asp-action="Login">LogIn</a></li>
    <li id="Register"><a asp-controller="Account" asp-action="RegisterUser" >Register</a></li>
</ul> 
}
else
{
    <ul class="nav-list" id="list1">
                   <li id="CreatePost"><a href="/Post/PostPageCreate">Create post</a></li>
                   <li>
                   <div class="dropdown">
                          <button class="btn dropdown-toggle btn-lg" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome @UserManager.GetUserName(User)
                            
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                              <li><a class="dropdown-item" asp-controller="Post" asp-action="MyPosts" asp-route-id="@UserManager.GetUserId(User)">My Posts</a></li>
                              <li><a class="dropdown-item" href="#">Archived Posts</a></li>
                            <li><a class="dropdown-item" asp-controller="SimpleUser" asp-action="UpdateSU" asp-route-id="1">Update profile</a></li>
                            <li><a class="dropdown-item" asp-controller="SimpleUser" asp-action="GetSUById" asp-route-id="2002">Delete account</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li id="LogOut"><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log out</a></li>
                          </ul>
                    </div>
                    </li>
    </ul>
    
}



               

