@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Agent;
@{
    Pagination pager = new Pagination();
   
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
    }
}

 <link href="@Url.Content("~/css/Agents.css")" rel="stylesheet" type="text/css" />


 <section>
     <div class="container">
         <h1 class="heading">Meet Our Agents</h1>
         <div class="card-wrapper">
             <div class="card">
                 <img src="/Assets/AgentsImgs/house.jpg" alt="card background" class="card-img"/>
                 <img src="/Assets/AgentsImgs/agent.jpg" alt="profile image" class="profile-img"/>
                 <h1>Joe Gomes</h1>
                 <p class="job-title">Agent</p>
                 <p class="about">
                     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                     Aenean commodo ligula eget dolor. Aenean massa. 
                     Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                     Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                     Nulla consequat massa quis enim.
                 </p>
                 <a href="/Home/ContactUs" class="btn">Contact</a>
                 <ul class="social-media">
                     <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                 </ul>
             </div>

             <div class="card">
                 <img src="/Assets/AgentsImgs/house.jpg" alt="card background" class="card-img"/>
                 <img src="/Assets/AgentsImgs/agent.jpg" alt="profile image" class="profile-img"/>
                 <h1>Joe Gomes</h1>
                 <p class="job-title">Agent</p>
                 <p class="about">
                     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                     Aenean commodo ligula eget dolor. Aenean massa. 
                     Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                     Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                     Nulla consequat massa quis enim.
                 </p>
                 <a href="/Home/ContactUs" class="btn">Contact</a>
                 <ul class="social-media">
                     <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                 </ul>
             </div>


             <div class="card">
                 <img src="/Assets/AgentsImgs/house.jpg" alt="card background" class="card-img"/>
                 <img src="/Assets/AgentsImgs/agent.jpg" alt="profile image" class="profile-img"/>
                 <h1>Joe Gomes</h1>
                 <p class="job-title">Agent</p>
                 <p class="about">
                     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                     Aenean commodo ligula eget dolor. Aenean massa. 
                     Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                     Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                     Nulla consequat massa quis enim.
                 </p>
                 <a href="/Home/ContactUs" class="btn">Contact</a>
                 <ul class="social-media">
                     <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                 </ul>
             </div>


             <div class="card">
                 <img src="/Assets/AgentsImgs/house.jpg" alt="card background" class="card-img"/>
                 <img src="/Assets/AgentsImgs/agent.jpg" alt="profile image" class="profile-img"/>
                 <h1>Joe Gomes</h1>
                 <p class="job-title">Agent</p>
                 <p class="about">
                     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                     Aenean commodo ligula eget dolor. Aenean massa. 
                     Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                     Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                     Nulla consequat massa quis enim.
                 </p>
                 <a href="/Home/ContactUs" class="btn">Contact</a>
                 <ul class="social-media">
                     <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                 </ul>
             </div>
         </div>
     </div>
 </section>