@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-img">
       <input id="homepageSearch" class="search-btn" type="search" placeholder="Search">
   </div>



   <div id="homepage-posts">
       <!-- <div class="grid-content" id="Home" data-text="Homes"> -->
         
 <!-- <div class="flex-posts" id="flex-posts-Home"></div> -->
           <!-- <div class="homepagegrid content1">
               <img src="../../imgs/grid1.jpg" alt="Home">
               <h1>Buy a home</h1>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, excepturi voluptatem? Officia repellat praesentium error quibusdam incidunt quasi minus non nihil. Mollitia adipisci nihil illo natus cum sunt blanditiis aliquid.</p>
               <a class="btn btn-primary" href="#">Search homes</a>
           </div>

           <div class="homepagegrid content2">
            <img src="../../imgs/grid2.jpg" alt="Home">
            <h1>Find a seller</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui dolor et rem repellat aliquid, nam esse cupiditate quidem sunt autem quos iure optio atque iste veritatis, corrupti ratione adipisci dolore?</p>
            <a class="btn btn-primary" href="#">See your options</a>
           </div>

           <div class="homepagegrid content3">
            <img src="../../imgs/grid3.jpg" alt="Home">
            <h1>Rent a home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, exercitationem. Ab accusamus labore quas dolore, id adipisci et maiores, facere, at quis in incidunt. Voluptatibus, labore aspernatur? Ex, ipsum expedita?</p>
            <a class="btn btn-primary" href="#">Find rentals</a>       
           </div> -->
       <!-- </div>
       <div class="grid-content" id="Flat" data-text="Flats">
        <div class="flex-posts" id="flex-posts-Flat"></div>
       </div>
       <div class="grid-content" id="Office" data-text="Offices">
        <div class="flex-posts" id="flex-posts-Office"></div>
       </div> -->
   </div>