@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-img">
       <input id="homepageSearch" class="search-btn" type="search" placeholder="Search">
   </div>


   <div id="homepage-posts">
   
   </div>
   <script src="~/js/welcomePage.js"></script>