@model Broker.ViewModels.LoginUserModel
@{
    ViewData["Title"] = "Login";
}

 <link href="@Url.Content("~/css/login-page.css")" rel="stylesheet" type="text/css" />
  
    <div class="container">
             

        
            
    <form autocomplete="off"  method="post">
          
        <h4 id="registerHeader">Please login to your account</h4>
              <!-- Email input -->
          
        <div class="form-outline mb-4">
             <label class="labels" asp-for="Email"></label>
             <input type="text" id="email"  asp-for="Email" placeholder="Email" class="form-control form-control-lg">
        </div>

          <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="labels" asp-for="Password"></label>
            <input type="password" id="password"  asp-for="Password" placeholder="Password" class="form-control form-control-lg">
            <p class="error" id="PasswordError"></p>
        </div>

        @if(@ViewBag.Message!=null){
            <span id="errorMessage" class="text-danger">@ViewBag.Message</span>
        }

          <!-- Submit button -->
          <button id="loginbtn" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
          <div>
              <a asp-action="ForgotPassword">Forgot Password?</a>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">Not a member!</p>
          </div>

          
           <a class="btn btn-primary btn-lg" href="/Home/RegisterAsAgent">
           Register
           </a>
           
    </form>

            

    </div>
  @*  <script src="~/js/login-validate.js"></script>*@

