@model Broker.ViewModels.RegisterUserViewModel
@{
	ViewData["Title"] = "Register";
}

<link href="@Url.Content("~/css/register-page.css")" rel="stylesheet" type="text/css" />
<style>

</style>


    <div class="container">

        <form method="post" asp-controller="Account" asp-action="RegisterUser" autocomplete="off" id="form">
            <h2 id="registerHeader">Create Account</h2>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Name"></label>
            <input type="text" id="firstname" asp-for="Name" placeholder="Firstname" class="form-control form-control-lg">
            <span asp-validation-for="Name" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="LastName"></label>
            <input type="text" id="lastname" asp-for="LastName" placeholder="Lastname" class="form-control form-control-lg">
            <span asp-validation-for="LastName" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Birthday"></label>
            <input type="date" id="birthday" asp-for="Birthday" class="form-control form-control-lg">
            <span asp-validation-for="Birthday" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Email"></label>
            <input type="text" id="email"  asp-for="Email" placeholder="Email" class="form-control form-control-lg">
            <span asp-validation-for="Email" class="text-danger"></span>
            @if(@ViewBag.Message!=null){
                  <span id="errorMessage" class="text-danger">@ViewBag.Message</span>
            }
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Password"></label>                        
            <input type="password" id="Password"  asp-for="Password" placeholder="Password" class="form-control form-control-lg">
            <span asp-validation-for="Password" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="ConfirmationPassword"></label>                        
            <input type="password" id="ConfirmationPassword"  asp-for="ConfirmationPassword" placeholder="Confirmation Password" class="form-control form-control-lg">
            <span asp-validation-for="ConfirmationPassword" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Telephone"></label>                        
            <input type="number" id="Telephone"  asp-for="Telephone" placeholder="Telephone" class="form-control form-control-lg">
            <span asp-validation-for="Telephone" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Street"></label>
            <input type="text" id="street"  asp-for="Street" placeholder="Street" class="form-control form-control-lg">
            <span asp-validation-for="Street" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="State"></label>
            <input type="text" id="state"  asp-for="State" placeholder="State" class="form-control form-control-lg">
            <span asp-validation-for="State" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="City"></label>
            <input type="text" id="city"  asp-for="City" placeholder="City" class="form-control form-control-lg">
            <span asp-validation-for="City" class="text-danger"></span> 
            </div>


            <div class="form-outline mb-4">
            <label class="labels" asp-for="ZipCode"></label>
            <input type="number" id="zipCode"  asp-for="ZipCode" placeholder="ZipCode" class="form-control form-control-lg">
            <span asp-validation-for="ZipCode" class="text-danger"></span> 
            </div>

            

            <div class="form-group">
              <input type="submit" class="btn btn-outline-success float-right" value="Create Account" />
              <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
            </div>
        </form>
        </div>


